In [1]:
import pandas as pd

In [4]:
dic={1:'one',3:'three',2:'two',4:'four'}

In [5]:
ser=pd.Series(dic,name='numbers')

In [6]:
ser

1      one
3    three
2      two
4     four
Name: numbers, dtype: object

In [7]:
ser.sort_index()

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [8]:
ser.sort_index(ascending=True)

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [9]:
ser.sort_index(ascending=False)

4     four
3    three
2      two
1      one
Name: numbers, dtype: object

In [10]:
ser.sort_index(ascending=True,inplace=True)

In [11]:
ser

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [12]:
ser.sort_values()

4     four
1      one
3    three
2      two
Name: numbers, dtype: object