In [18]:
import pandas as pd

In [19]:
df=pd.read_csv('master.csv')

In [20]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
27790,Uzbekistan,2012,female,25-34 years,148,2556673,5.79,Uzbekistan2012,0.668,"51,821,573,338",1964,Millenials
27791,Uzbekistan,2012,female,35-54 years,89,3474788,2.56,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation X
27792,Uzbekistan,2012,male,5-14 years,67,2701361,2.48,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation Z
27793,Uzbekistan,2012,female,55-74 years,25,1283060,1.95,Uzbekistan2012,0.668,"51,821,573,338",1964,Boomers
27794,Uzbekistan,2012,female,75+ years,4,338557,1.18,Uzbekistan2012,0.668,"51,821,573,338",1964,Silent
27795,Uzbekistan,2012,female,5-14 years,16,2578408,0.62,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation Z
27796,Uzbekistan,2013,male,35-54 years,481,3346411,14.37,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27797,Uzbekistan,2013,male,25-34 years,328,2644648,12.40,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27798,Uzbekistan,2013,female,15-24 years,323,3039740,10.63,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27799,Uzbekistan,2013,male,15-24 years,320,3171202,10.09,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27800,Uzbekistan,2013,male,55-74 years,119,1202790,9.89,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27801,Uzbekistan,2013,male,75+ years,13,221002,5.88,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27802,Uzbekistan,2013,female,25-34 years,146,2647820,5.51,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27803,Uzbekistan,2013,female,35-54 years,99,3547895,2.79,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27804,Uzbekistan,2013,female,75+ years,8,345180,2.32,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27805,Uzbekistan,2013,male,5-14 years,61,2720938,2.24,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27806,Uzbekistan,2013,female,55-74 years,21,1356298,1.55,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27807,Uzbekistan,2013,female,5-14 years,31,2595000,1.19,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27808,Uzbekistan,2014,male,35-54 years,519,3421300,15.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27809,Uzbekistan,2014,male,25-34 years,318,2739150,11.61,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27810,Uzbekistan,2014,female,15-24 years,347,2992817,11.59,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27811,Uzbekistan,2014,male,55-74 years,144,1271111,11.33,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers
27812,Uzbekistan,2014,male,15-24 years,347,3126905,11.10,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27813,Uzbekistan,2014,male,75+ years,17,224995,7.56,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27814,Uzbekistan,2014,female,25-34 years,162,2735238,5.92,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [21]:
df.country

0           Albania
1           Albania
2           Albania
3           Albania
4           Albania
5           Albania
6           Albania
7           Albania
8           Albania
9           Albania
10          Albania
11          Albania
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Albania
25          Albania
26          Albania
27          Albania
28          Albania
29          Albania
            ...
27790    Uzbekistan
27791    Uzbekistan
27792    Uzbekistan
27793    Uzbekistan
27794    Uzbekistan
27795    Uzbekistan
27796    Uzbekistan
27797    Uzbekistan
27798    Uzbekistan
27799    Uzbekistan
27800    Uzbekistan
27801    Uzbekistan
27802    Uzbekistan
27803    Uzbekistan
27804    Uzbekistan
27805    Uzbekistan
27806    Uzbekistan
27807    Uzbekistan
27808    Uzbekistan
27809    Uzbekistan
27810    Uzbekistan
27811    Uzbekistan
27812    Uzbekistan
27813    Uzbekistan
27814    Uzbekistan
27815    Uzbekistan
27816    Uzbekistan
27817    Uzbekistan
27818    Uzbekistan
27819    Uzbekistan
Name: country, Length: 27820, dtype: object

In [22]:
df.country.unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [23]:
df.country=='Israel'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
27790    False
27791    False
27792    False
27793    False
27794    False
27795    False
27796    False
27797    False
27798    False
27799    False
27800    False
27801    False
27802    False
27803    False
27804    False
27805    False
27806    False
27807    False
27808    False
27809    False
27810    False
27811    False
27812    False
27813    False
27814    False
27815    False
27816    False
27817    False
27818    False
27819    False
Name: country, Length: 27820, dtype: bool

In [24]:
df[df.country=='Israel']

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12416,Israel,1985,male,75+ years,24,66600,36.04,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12417,Israel,1985,male,55-74 years,48,249100,19.27,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12418,Israel,1985,female,75+ years,10,75500,13.25,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12419,Israel,1985,male,35-54 years,41,396400,10.34,Israel1985,0.768,"27,493,591,484",7325,Silent
12420,Israel,1985,female,55-74 years,28,290900,9.63,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12421,Israel,1985,male,25-34 years,27,324000,8.33,Israel1985,0.768,"27,493,591,484",7325,Boomers
12422,Israel,1985,male,15-24 years,19,368300,5.16,Israel1985,0.768,"27,493,591,484",7325,Generation X
12423,Israel,1985,female,35-54 years,19,412800,4.60,Israel1985,0.768,"27,493,591,484",7325,Silent
12424,Israel,1985,female,25-34 years,11,324700,3.39,Israel1985,0.768,"27,493,591,484",7325,Boomers
12425,Israel,1985,female,15-24 years,7,346200,2.02,Israel1985,0.768,"27,493,591,484",7325,Generation X
12426,Israel,1985,female,5-14 years,0,437800,0.00,Israel1985,0.768,"27,493,591,484",7325,Generation X
12427,Israel,1985,male,5-14 years,0,461200,0.00,Israel1985,0.768,"27,493,591,484",7325,Generation X
12428,Israel,1986,male,75+ years,28,70300,39.83,Israel1986,NaN,"34,083,532,195",8938,G.I. Generation
12429,Israel,1986,male,55-74 years,56,248200,22.56,Israel1986,NaN,"34,083,532,195",8938,G.I. Generation
12430,Israel,1986,female,75+ years,14,79800,17.54,Israel1986,NaN,"34,083,532,195",8938,G.I. Generation
12431,Israel,1986,male,35-54 years,47,411300,11.43,Israel1986,NaN,"34,083,532,195",8938,Silent
12432,Israel,1986,female,55-74 years,32,291700,10.97,Israel1986,NaN,"34,083,532,195",8938,G.I. Generation
12433,Israel,1986,male,25-34 years,25,323600,7.73,Israel1986,NaN,"34,083,532,195",8938,Boomers
12434,Israel,1986,male,15-24 years,25,376700,6.64,Israel1986,NaN,"34,083,532,195",8938,Generation X
12435,Israel,1986,female,35-54 years,22,426900,5.15,Israel1986,NaN,"34,083,532,195",8938,Silent
12436,Israel,1986,female,15-24 years,16,354800,4.51,Israel1986,NaN,"34,083,532,195",8938,Generation X
12437,Israel,1986,female,25-34 years,12,324100,3.70,Israel1986,NaN,"34,083,532,195",8938,Boomers
12438,Israel,1986,male,5-14 years,1,464900,0.22,Israel1986,NaN,"34,083,532,195",8938,Generation X
12439,Israel,1986,female,5-14 years,0,441200,0.00,Israel1986,NaN,"34,083,532,195",8938,Generation X
12440,Israel,1987,male,75+ years,32,73000,43.84,Israel1987,NaN,"40,946,424,370",10558,G.I. Generation
12441,Israel,1987,male,55-74 years,57,248000,22.98,Israel1987,NaN,"40,946,424,370",10558,G.I. Generation
12442,Israel,1987,female,75+ years,18,83500,21.56,Israel1987,NaN,"40,946,424,370",10558,G.I. Generation
12443,Israel,1987,male,35-54 years,45,427100,10.54,Israel1987,NaN,"40,946,424,370",10558,Silent
12444,Israel,1987,male,25-34 years,33,323100,10.21,Israel1987,NaN,"40,946,424,370",10558,Boomers
12445,Israel,1987,female,55-74 years,24,293000,8.19,Israel1987,NaN,"40,946,424,370",10558,G.I. Generation
...,...,...,...,...,...,...,...,...,...,...,...,...
12758,Israel,2013,female,55-74 years,23,627505,3.67,Israel2013,0.893,"292,489,185,194",40477,Boomers
12759,Israel,2013,female,35-54 years,26,932764,2.79,Israel2013,0.893,"292,489,185,194",40477,Generation X
12760,Israel,2013,female,25-34 years,15,571000,2.63,Israel2013,0.893,"292,489,185,194",40477,Millenials
12761,Israel,2013,male,5-14 years,7,737875,0.95,Israel2013,0.893,"292,489,185,194",40477,Generation Z
12762,Israel,2013,female,15-24 years,5,597664,0.84,Israel2013,0.893,"292,489,185,194",40477,Millenials
12763,Israel,2013,female,5-14 years,0,702017,0.00,Israel2013,0.893,"292,489,185,194",40477,Generation Z
12764,Israel,2014,male,75+ years,32,164959,19.40,Israel2014,0.894,"308,416,982,140",41869,Silent
12765,Israel,2014,male,35-54 years,125,925543,13.51,Israel2014,0.894,"308,416,982,140",41869,Generation X
12766,Israel,2014,male,55-74 years,54,577076,9.36,Israel2014,0.894,"308,416,982,140",41869,Boomers
12767,Israel,2014,male,25-34 years,41,580208,7.07,Israel2014,0.894,"308,416,982,140",41869,Millenials
12768,Israel,2014,male,15-24 years,35,633544,5.52,Israel2014,0.894,"308,416,982,140",41869,Millenials
12769,Israel,2014,female,75+ years,11,236381,4.65,Israel2014,0.894,"308,416,982,140",41869,Silent
12770,Israel,2014,female,55-74 years,24,645102,3.72,Israel2014,0.894,"308,416,982,140",41869,Boomers
12771,Israel,2014,female,35-54 years,29,949566,3.05,Israel2014,0.894,"308,416,982,140",41869,Generation X
12772,Israel,2014,female,25-34 years,13,576407,2.26,Israel2014,0.894,"308,416,982,140",41869,Millenials
12773,Israel,2014,female,15-24 years,10,607031,1.65,Israel2014,0.894,"308,416,982,140",41869,Millenials
12774,Israel,2014,male,5-14 years,7,753317,0.93,Israel2014,0.894,"308,416,982,140",41869,Generation Z
12775,Israel,2014,female,5-14 years,1,717118,0.14,Israel2014,0.894,"308,416,982,140",41869,Generation Z
12776,Israel,2015,male,75+ years,30,168826,17.77,Israel2015,NaN,"299,093,839,690",39793,Silent
12777,Israel,2015,male,55-74 years,65,595247,10.92,Israel2015,NaN,"299,093,839,690",39793,Boomers
12778,Israel,2015,male,35-54 years,92,944406,9.74,Israel2015,NaN,"299,093,839,690",39793,Generation X
12779,Israel,2015,male,25-34 years,45,586251,7.68,Israel2015,NaN,"299,093,839,690",39793,Millenials
12780,Israel,2015,female,75+ years,14,241083,5.81,Israel2015,NaN,"299,093,839,690",39793,Silent
12781,Israel,2015,male,15-24 years,35,644674,5.43,Israel2015,NaN,"299,093,839,690",39793,Millenials
12782,Israel,2015,female,55-74 years,17,664823,2.56,Israel2015,NaN,"299,093,839,690",39793,Boomers
12783,Israel,2015,female,25-34 years,13,581972,2.23,Israel2015,NaN,"299,093,839,690",39793,Millenials
12784,Israel,2015,female,35-54 years,20,967412,2.07,Israel2015,NaN,"299,093,839,690",39793,Generation X
12785,Israel,2015,female,15-24 years,8,617440,1.30,Israel2015,NaN,"299,093,839,690",39793,Millenials
12786,Israel,2015,male,5-14 years,2,770443,0.26,Israel2015,NaN,"299,093,839,690",39793,Generation Z
12787,Israel,2015,female,5-14 years,1,733603,0.14,Israel2015,NaN,"299,093,839,690",39793,Generation Z

In [25]:
type(df.country=='Israel')

pandas.core.series.Series

In [26]:
(df.country=='Israel').dtype

dtype('bool')

In [27]:
df[(df.country=='Israel') & (df.year==2014)]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12764,Israel,2014,male,75+ years,32,164959,19.40,Israel2014,0.894,"308,416,982,140",41869,Silent
12765,Israel,2014,male,35-54 years,125,925543,13.51,Israel2014,0.894,"308,416,982,140",41869,Generation X
12766,Israel,2014,male,55-74 years,54,577076,9.36,Israel2014,0.894,"308,416,982,140",41869,Boomers
12767,Israel,2014,male,25-34 years,41,580208,7.07,Israel2014,0.894,"308,416,982,140",41869,Millenials
12768,Israel,2014,male,15-24 years,35,633544,5.52,Israel2014,0.894,"308,416,982,140",41869,Millenials
12769,Israel,2014,female,75+ years,11,236381,4.65,Israel2014,0.894,"308,416,982,140",41869,Silent
12770,Israel,2014,female,55-74 years,24,645102,3.72,Israel2014,0.894,"308,416,982,140",41869,Boomers
12771,Israel,2014,female,35-54 years,29,949566,3.05,Israel2014,0.894,"308,416,982,140",41869,Generation X
12772,Israel,2014,female,25-34 years,13,576407,2.26,Israel2014,0.894,"308,416,982,140",41869,Millenials
12773,Israel,2014,female,15-24 years,10,607031,1.65,Israel2014,0.894,"308,416,982,140",41869,Millenials
12774,Israel,2014,male,5-14 years,7,753317,0.93,Israel2014,0.894,"308,416,982,140",41869,Generation Z
12775,Israel,2014,female,5-14 years,1,717118,0.14,Israel2014,0.894,"308,416,982,140",41869,Generation Z

In [28]:
mask1=df.country=='Israel'
mask2=df.year==2014
df[mask1 & mask2]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12764,Israel,2014,male,75+ years,32,164959,19.40,Israel2014,0.894,"308,416,982,140",41869,Silent
12765,Israel,2014,male,35-54 years,125,925543,13.51,Israel2014,0.894,"308,416,982,140",41869,Generation X
12766,Israel,2014,male,55-74 years,54,577076,9.36,Israel2014,0.894,"308,416,982,140",41869,Boomers
12767,Israel,2014,male,25-34 years,41,580208,7.07,Israel2014,0.894,"308,416,982,140",41869,Millenials
12768,Israel,2014,male,15-24 years,35,633544,5.52,Israel2014,0.894,"308,416,982,140",41869,Millenials
12769,Israel,2014,female,75+ years,11,236381,4.65,Israel2014,0.894,"308,416,982,140",41869,Silent
12770,Israel,2014,female,55-74 years,24,645102,3.72,Israel2014,0.894,"308,416,982,140",41869,Boomers
12771,Israel,2014,female,35-54 years,29,949566,3.05,Israel2014,0.894,"308,416,982,140",41869,Generation X
12772,Israel,2014,female,25-34 years,13,576407,2.26,Israel2014,0.894,"308,416,982,140",41869,Millenials
12773,Israel,2014,female,15-24 years,10,607031,1.65,Israel2014,0.894,"308,416,982,140",41869,Millenials
12774,Israel,2014,male,5-14 years,7,753317,0.93,Israel2014,0.894,"308,416,982,140",41869,Generation Z
12775,Israel,2014,female,5-14 years,1,717118,0.14,Israel2014,0.894,"308,416,982,140",41869,Generation Z

In [29]:
mask1=df.country=='Israel'
mask2=df.year==2014
mask3=df.year==2015
df[mask1 & (mask2 | mask3)]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12764,Israel,2014,male,75+ years,32,164959,19.40,Israel2014,0.894,"308,416,982,140",41869,Silent
12765,Israel,2014,male,35-54 years,125,925543,13.51,Israel2014,0.894,"308,416,982,140",41869,Generation X
12766,Israel,2014,male,55-74 years,54,577076,9.36,Israel2014,0.894,"308,416,982,140",41869,Boomers
12767,Israel,2014,male,25-34 years,41,580208,7.07,Israel2014,0.894,"308,416,982,140",41869,Millenials
12768,Israel,2014,male,15-24 years,35,633544,5.52,Israel2014,0.894,"308,416,982,140",41869,Millenials
12769,Israel,2014,female,75+ years,11,236381,4.65,Israel2014,0.894,"308,416,982,140",41869,Silent
12770,Israel,2014,female,55-74 years,24,645102,3.72,Israel2014,0.894,"308,416,982,140",41869,Boomers
12771,Israel,2014,female,35-54 years,29,949566,3.05,Israel2014,0.894,"308,416,982,140",41869,Generation X
12772,Israel,2014,female,25-34 years,13,576407,2.26,Israel2014,0.894,"308,416,982,140",41869,Millenials
12773,Israel,2014,female,15-24 years,10,607031,1.65,Israel2014,0.894,"308,416,982,140",41869,Millenials
12774,Israel,2014,male,5-14 years,7,753317,0.93,Israel2014,0.894,"308,416,982,140",41869,Generation Z
12775,Israel,2014,female,5-14 years,1,717118,0.14,Israel2014,0.894,"308,416,982,140",41869,Generation Z
12776,Israel,2015,male,75+ years,30,168826,17.77,Israel2015,NaN,"299,093,839,690",39793,Silent
12777,Israel,2015,male,55-74 years,65,595247,10.92,Israel2015,NaN,"299,093,839,690",39793,Boomers
12778,Israel,2015,male,35-54 years,92,944406,9.74,Israel2015,NaN,"299,093,839,690",39793,Generation X
12779,Israel,2015,male,25-34 years,45,586251,7.68,Israel2015,NaN,"299,093,839,690",39793,Millenials
12780,Israel,2015,female,75+ years,14,241083,5.81,Israel2015,NaN,"299,093,839,690",39793,Silent
12781,Israel,2015,male,15-24 years,35,644674,5.43,Israel2015,NaN,"299,093,839,690",39793,Millenials
12782,Israel,2015,female,55-74 years,17,664823,2.56,Israel2015,NaN,"299,093,839,690",39793,Boomers
12783,Israel,2015,female,25-34 years,13,581972,2.23,Israel2015,NaN,"299,093,839,690",39793,Millenials
12784,Israel,2015,female,35-54 years,20,967412,2.07,Israel2015,NaN,"299,093,839,690",39793,Generation X
12785,Israel,2015,female,15-24 years,8,617440,1.30,Israel2015,NaN,"299,093,839,690",39793,Millenials
12786,Israel,2015,male,5-14 years,2,770443,0.26,Israel2015,NaN,"299,093,839,690",39793,Generation Z
12787,Israel,2015,female,5-14 years,1,733603,0.14,Israel2015,NaN,"299,093,839,690",39793,Generation Z

In [30]:
mask1=df.country=='Israel'
mask2=df.year==2014
mask3=df.year==2015
f_df=df.loc[mask1 & (mask2 | mask3), ['country','year','sex','age','suicides_no']]

In [31]:
f_df

      country  year     sex          age  suicides_no
12764  Israel  2014    male    75+ years           32
12765  Israel  2014    male  35-54 years          125
12766  Israel  2014    male  55-74 years           54
12767  Israel  2014    male  25-34 years           41
12768  Israel  2014    male  15-24 years           35
12769  Israel  2014  female    75+ years           11
12770  Israel  2014  female  55-74 years           24
12771  Israel  2014  female  35-54 years           29
12772  Israel  2014  female  25-34 years           13
12773  Israel  2014  female  15-24 years           10
12774  Israel  2014    male   5-14 years            7
12775  Israel  2014  female   5-14 years            1
12776  Israel  2015    male    75+ years           30
12777  Israel  2015    male  55-74 years           65
12778  Israel  2015    male  35-54 years           92
12779  Israel  2015    male  25-34 years           45
12780  Israel  2015  female    75+ years           14
12781  Israel  2015    male  15-24 years           35
12782  Israel  2015  female  55-74 years           17
12783  Israel  2015  female  25-34 years           13
12784  Israel  2015  female  35-54 years           20
12785  Israel  2015  female  15-24 years            8
12786  Israel  2015    male   5-14 years            2
12787  Israel  2015  female   5-14 years            1

In [32]:
mask1=df.country=='Israel'
mask2=df.year==2014
mask3=df.year==2015
mask4=df.sex=='male'
f_df=df.loc[mask1 & mask4 & (mask2 | mask3), ['country','year','sex','age','suicides_no']]
f_df

      country  year   sex          age  suicides_no
12764  Israel  2014  male    75+ years           32
12765  Israel  2014  male  35-54 years          125
12766  Israel  2014  male  55-74 years           54
12767  Israel  2014  male  25-34 years           41
12768  Israel  2014  male  15-24 years           35
12774  Israel  2014  male   5-14 years            7
12776  Israel  2015  male    75+ years           30
12777  Israel  2015  male  55-74 years           65
12778  Israel  2015  male  35-54 years           92
12779  Israel  2015  male  25-34 years           45
12781  Israel  2015  male  15-24 years           35
12786  Israel  2015  male   5-14 years            2

In [34]:
f_df.sum().suicides_no

563

In [35]:
mask1=df.country=='Israel'
mask2=df.year==2014
mask3=df.year==2015
mask4=df.sex=='female'
f_df=df.loc[mask1 & mask4 & (mask2 | mask3), ['country','year','sex','age','suicides_no']]
f_df

      country  year     sex          age  suicides_no
12769  Israel  2014  female    75+ years           11
12770  Israel  2014  female  55-74 years           24
12771  Israel  2014  female  35-54 years           29
12772  Israel  2014  female  25-34 years           13
12773  Israel  2014  female  15-24 years           10
12775  Israel  2014  female   5-14 years            1
12780  Israel  2015  female    75+ years           14
12782  Israel  2015  female  55-74 years           17
12783  Israel  2015  female  25-34 years           13
12784  Israel  2015  female  35-54 years           20
12785  Israel  2015  female  15-24 years            8
12787  Israel  2015  female   5-14 years            1

In [36]:
f_df.sum().suicides_no

161

In [37]:
mask1=df.country=='Ukraine'
mask2=df.year==2014
mask3=df.year==2015
mask4=df.sex=='female'
f_df=df.loc[mask1 & mask4 & (mask2 | mask3), ['country','year','sex','age','suicides_no']]
f_df.sum().suicides_no

2982

In [38]:
mask1=df.country=='Ukraine'
mask2=df.year==2014
mask3=df.year==2015
mask4=df.sex=='male'
f_df=df.loc[mask1 & mask4 & (mask2 | mask3), ['country','year','sex','age','suicides_no']]
f_df.sum().suicides_no

12560