In [5]:
#importing required libraries

import pandas as pd
import matplotlib.pyplot as plt
# %matplotlin inline
import numpy as np

In [6]:
data=pd.read_csv("titanic.csv")

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [9]:
data=pd.get_dummies(data)

In [10]:
data.fillna(0,inplace=True)

In [12]:
data.shape

(891, 1731)

In [13]:
train=data[0:699]

In [14]:
test=data[700:890]

In [15]:
x_train=train.drop('Survived', axis=1)

In [16]:
true_p = test['Survived']

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
logreg=LogisticRegression()

In [19]:
logreg.fit(x_train,y_train)

NameError: name 'y_train' is not defined

In [20]:
pred=logreg.predict(x_test)

NameError: name 'x_test' is not defined

In [21]:
pred

NameError: name 'pred' is not defined

In [22]:
logreg.score(x_test,true_p)

NameError: name 'x_test' is not defined

In [23]:
logreg.score(x_train,y_train)

NameError: name 'y_train' is not defined